$font-fam: "Courier New", Courier, monospace;
// $font-fam: "Lato", sans-serif;

$color-background: #fff;
$color-highlight: #ff0000;
$color-dark: #333;
// $color-light: #f4f4f4;
$color-light: #f9eacb;
