$font-fam: "Courier New", Courier, monospace;
// $font-fam: "Lato", sans-serif;

$color-background: #fff;
$color-highlight: #ff0000;
$color-corrected: #34b334;
$color-dark: #333;
// $color-light: #f4f4f4;
$color-light: #f9eacb;

// font sizes
$section-h2-fontSize: 1.2rem;
