.container {
  width: 100vw;
  max-width: 500px;
  margin: auto;
  padding: 0.5rem 2rem;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
