@import "config";
@import "utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-size: 1rem;
  // line-height: 1.6rem;
  color: $color-dark;
  background-color: $color-light;
  font-family: $font-fam;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
}

li {
  list-style: none;
}

label {
  font-size: 1.2rem;
  width: 70%;
}

input {
  width: 30%;
  text-align: center;
  font-size: 1.2rem;
  background: $color-light;
  border: 1px dashed $color-highlight;
}
input:focus {
  text-align: center;
  outline: none;
  border: 1px solid $color-highlight;
}

#main-nav {
  font-size: 1.6rem;
  color: $color-highlight;
  padding-top: 0.5rem;
}

#intro-section {
  width: 100%;
  #sabine-heading {
    display: flex;
    align-items: center;
    #sabine-formula {
      font-size: 1.4rem;
      padding-left: 1rem;
    }
  }
  #sabine-explanation {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    li {
      padding-top: 0.3rem;
      font-size: 1.2rem;
    }
  }
}

#room-dimensions-section {
  display: flex;

  h2 {
    font-size: $section-h2-fontSize;
    text-align: center;
  }

  #input-room-dim-container {
    border: 1px dashed $color-highlight;
    padding: 1rem;
    width: 65%;

    .room-inputs {
      margin-top: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  #calc-room-dim-container {
    @extend #input-room-dim-container;
    border-left: none;
    width: 35%;
    #calculated-m2 {
      font-size: 2rem;
      padding-bottom: 0.9rem;
    }
  }
}

#input-measured-t60-section {
  border: 1px dashed $color-highlight;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  h2 {
    font-size: $section-h2-fontSize;
  }

  #measured-reverberance-flex {
    display: flex;
    flex-direction: column;

    #measured-reverberance-63to500Hz,
    #measured-reverberance-1000to8000Hz {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0.75rem;
    }
    .measured-rev-form {
      display: flex;
      flex-direction: column;

      label,
      input {
        width: 80%;
        text-align: center;
      }
    }
  }
}

#chart-section {
  width: 100%;
  height: 300px;
  color: $color-dark;
  border: 1px dashed $color-highlight;
  border-top: none;
}
